body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black; /* Define o fundo como preto */
    color: white; /* Define a cor do texto como branco */
}

#slot-machine {
    display: grid;
    grid-template-columns: repeat(3, 110px); /* Ajusta para acomodar bordas maiores */
    grid-gap: 0; /* Reduz o espaço entre as figuras */
    justify-content: center;
}

.reel {
    width: 100px;
    height: 100px;
    border: 10px solid black; /* Aumenta o tamanho das bordas pretas */
    background-color: white;
}

.win {
    border: 10px solid red !important; /* Aumenta o tamanho das bordas vermelhas */
}

button {
    font-size: 18px; /* Aumenta o tamanho da fonte */
    padding: 10px 20px; /* Aumenta o preenchimento interno do botão */
    margin-top: 20px; /* Mantém o espaço acima do botão */
}

#result {
    color: red;
    font-weight: bold;
    margin-top: 40px; /* Aumenta o espaço entre o botão e a frase de resultado */
}
